{% extends 'base.html' %}
{% block content %}
	{% if error_message %}
		<p>{{ error_message }}</p>
	{% endif %}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div>
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" required><br>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" required><br>
        </div>
        <div>
            <input type="submit" value="Login" class="btn btn-primary">
        </div>
    </form>
{% endblock %}